*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
}
.main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 6fr 0.5fr/ 1fr 5fr;
}
:root{
    --backColor: #64fcef;
    --contColor: #0c0d11;
    --color3: #c5c6c8;
    --color4: #46a29f;
    --color5: #fff8f8;
    --color6: #444343;
}
.nav{
    background-color: var(--color4);
    grid-column: 1/-1;
    grid-row: 1/2;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo-div{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
    padding: 20px;
}

.logo-div svg{
    font-size: 2rem;
}

.login-button{
    width: 10%;
    height: 100%;
    border: none;
}

.left-side{
    background-color: var(--color6);
    grid-column: 1/2;
    grid-row: 2/3;
}
.right-main{
    background-color: var(--color5);
    grid-column: 2/-1;
    grid-row: 2/3;
}
footer{
background-color: var(--color3);
grid-column: 1/-1;
grid-row: -2/-1;
}
